.container {
	display: flex;
	justify-content: space-between;
}

.settings {
	border: 0.5px lightgray solid;
	margin-bottom: 12px;
	margin-left: 4px;
	margin-right: 4px;
	height: auto;
	width: 100%;
}

.settingsHeading {
	padding: 8px;
	display: flex;
	align-items: flex-end;
	border-bottom: 0.5px lightgray solid;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
}

.settingsItemList {
	padding: 10px;
}

.settingsItem {
	padding: 4px;
}

.settingsLabel {
	margin-left: 4px;
	color: #fff;
}

.settingsButton {
	display: block;
	float: right;
	margin: 12px;
	padding: 8px 14px;
	border: solid 1px #b1a1d1;
	border-radius: 4px;
	cursor: pointer;
	background-color: #b1a1d1;
}
